<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="CommunityPostMapper">
  		<resultMap type="Post" id="postResultMap">
		<id property="postNo" column="POST_NO"></id>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="userId" column="MEMBER_ID"/>
		<result property="postTitle" column="POST_TITLE"/>
		<result property="postContents" column="POST_CONTENTS"/>
		<result property="viewsCount" column="VIEWS_COUNT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="userNickName" column="MEMBER_NICKNAME"/>
		<result property="status" column="STATUS"/>
	</resultMap>
  		<resultMap type="File" id="fileResultMap">
		<id property="fileNo" column="FILE_NO"></id>
		<result property="userId" column="MEMBER_ID"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileRename" column="FILE_RENAME"/>
		<result property="fileSize" column="FILE_SIZE"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="postNo" column="POST_NO"/>
	</resultMap>
	
  	<select id="selectListCount" resultType="_int">
  		SELECT COUNT(*) FROM
		COMMUNITY_POST WHERE STATUS = 'Y'
  	</select>
  	
  	<select id="selectAllList" resultMap="postResultMap">
		SELECT * FROM COMMUNITY_POST WHERE
		STATUS ='Y' ORDER BY POST_NO DESC
	</select>
  
  	<select id="selectSearchList" resultMap="postResultMap">
  		SELECT * FROM COMMUNITY_POST WHERE POST_TITLE LIKE '%' || #{searchKeyword} || '%' OR MEMBER_NICKNAME LIKE '%' || #{searchKeyword} || '%' AND STATUS = 'Y' ORDER BY CREATE_DATE DESC 
  	</select>
  
  	 <select id="selectSearchListCount" resultType="_int">
  		SELECT COUNT(*) FROM
		COMMUNITY_POST WHERE POST_TITLE LIKE '%' || #{searchKeyword} || '%' OR MEMBER_NICKNAME LIKE '%' || #{searchKeyword} || '%' AND STATUS = 'Y'
  	</select>
  	
  	<select id="selectOnePost" resultMap="postResultMap">
  		SELECT * FROM COMMUNITY_POST WHERE POST_NO = #{postNo}
  	</select>
  
  	<select id="selectOnePostFile" resultMap="fileResultMap">
  		SELECT * FROM COMMUNITY_FILE WHERE POST_NO = #{postNo}
  	</select>
  	<select id="postNo" resultMap="postResultMap">
  		SELECT POST_NO FROM COMMUNITY_POST WHERE POST_TITLE = #{postTitle} AND POST_CONTENTS = #{postContents}
  	</select>
 	<insert id="uploadFile" parameterType="File">
	INSERT INTO COMMUNITY_FILE VALUES(SEQ_FILE.NEXTVAL,'user01',#{fileName},#{fileRename},#{fileSize},DEFAULT,#{postNo})
	</insert>
	<insert id="insertPost" parameterType="Post">
	INSERT INTO COMMUNITY_POST VALUES(SEQ_POST.NEXTVAL,0,'user01','김제탈',#{postTitle},#{postContents},0,DEFAULT,DEFAULT,DEFAULT)
	</insert>
	<delete id="deletePost" parameterType="_int">
	DELETE FROM COMMUNITY_POST WHERE POST_NO = #{postNo}
	</delete>
	<delete id="deleteFile" parameterType="_int">
	DELETE FROM COMMUNITY_FILE WHERE POST_NO = #{postNo}
	</delete>
	
	<delete id="deleteFileName" parameterType="string">
	DELETE FROM COMMUNITY_FILE WHERE FILE_RENAME =#{fileName}
	</delete>
	
	<update id="updatePost" parameterType="Post">
	UPDATE COMMUNITY_POST SET POST_TITLE = #{postTitle},POST_CONTENTS = #{postContents},UPDATE_DATE = DEFAULT WHERE POST_NO = #{postNo}
	</update>
	
	<insert id="reUpload" parameterType="File">
	INSERT INTO COMMUNITY_FILE VALUES(SEQ_FILE.NEXTVAL,'user01',#{fileName},#{fileRename},#{fileSize},DEFAULT,#{postNo})
	</insert>
 	 </mapper>
  