<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommunityPostMapper">
	<resultMap type="Post" id="postResultMap">
		<id property="postNo" column="POST_NO"></id>
		<result property="groupName" column="GROUP_NAME" />
		<result property="userId" column="MEMBER_ID" />
		<result property="userNickName" column="MEMBER_NICKNAME" />
		<result property="postTitle" column="POST_TITLE" />
		<result property="postContents" column="POST_CONTENTS" />
		<result property="viewsCount" column="VIEWS_COUNT" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="status" column="STATUS" />
		<result property="heartCount" column="HEART_COUNT" />
	</resultMap>
	<resultMap type="File" id="fileResultMap">
		<id property="fileNo" column="FILE_NO"></id>
		<result property="userId" column="MEMBER_ID" />
		<result property="fileName" column="FILE_NAME" />
		<result property="fileRename" column="FILE_RENAME" />
		<result property="fileSize" column="FILE_SIZE" />
		<result property="uploadDate" column="UPLOAD_DATE" />
		<result property="postNo" column="POST_NO" />
	</resultMap>
	<resultMap type="Reply" id="replyResultMap">
		<id property="replyAllNo" column="REPLY_ALLNO"></id>
		<result property="replyContents" column="REPLY_CONTENTS" />
		<result property="replyDate" column="REPLY_DATE" />
		<result property="replyNo" column="REPLY_NO" />
		<result property="replyChild" column="REPLY_CHILD" />
		<result property="postNo" column="POST_NO" />
		<result property="userId" column="MEMBER_ID" />
		<result property="userNickName" column="MEMBER_NICKNAME" />
	</resultMap>
	<resultMap type="Heart" id="heartResultMap">
		<id property="heartNo" column="HEART_NO"></id>
		<result property="userId" column="MEMBER_ID" />
		<result property="postNo" column="POST_NO" />
	</resultMap>
	<resultMap type="rReport" id="rReportResultMap">
		<id property="reportNo" column="REPORT_NO"></id>
		<result property="userId" column="MEMBER_ID" />
		<result property="replyAllNo" column="REPLY_ALLNO" />
		<result property="rStatus" column="R_STATUS" />
		<result property="replyContents" column="REPLYCONTETNS" />
		<result property="postNo" column="POST_NO" />
		<result property="userNickName" column="MEMBER_NICKNAME" />
	</resultMap>
	<resultMap type="pReport" id="pReportResultMap">
		<id property="reportNo" column="REPORT_NO"></id>
		<result property="postNo" column="POST_NO" />
		<result property="postTitle" column="POST_TITLE" />
		<result property="userNickName" column="USER_NICKNAME" />
		<result property="writerNickName" column="WRTIER_NICKNAME" />
	</resultMap>
	<resultMap type="Main" id="MaintResultMap">
		<id property="groupName" column="GROUP_NAME"></id>
		<result property="mainImgName" column="MAINIMG_NAME" />
	</resultMap>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM
		COMMUNITY_POST WHERE STATUS = 'Y'AND GROUP_NAME =#{groupName}
	</select>

	<select id="selectAllList" resultMap="postResultMap">
		SELECT * FROM
		COMMUNITY_POST WHERE
		STATUS ='Y' AND GROUP_NAME =#{groupName} ORDER BY POST_NO DESC
	</select>

	<select id="selectSearchList" resultMap="postResultMap">
		SELECT * FROM
		COMMUNITY_POST WHERE POST_TITLE LIKE '%' || #{searchKeyword}
		|| '%' OR
		MEMBER_NICKNAME LIKE '%' || #{searchKeyword} || '%' AND
		STATUS = 'Y'
		AND GROUP_NAME = #{groupName} ORDER BY CREATE_DATE DESC
	</select>

	<select id="selectSearchListCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		COMMUNITY_POST WHERE POST_TITLE LIKE '%' ||
		#{searchKeyword} || '%'
		OR MEMBER_NICKNAME LIKE '%' ||
		#{searchKeyword} || '%' AND STATUS = 'Y' AND GROUP_NAME = #{groupName}
	</select>

	<select id="selectOnePost" resultMap="postResultMap">
		SELECT * FROM
		COMMUNITY_POST WHERE POST_NO = #{postNo}
	</select>

	<select id="selectOnePostFile" resultMap="fileResultMap">
		SELECT * FROM
		COMMUNITY_FILE WHERE POST_NO = #{postNo}
	</select>
	<select id="postNo" resultMap="postResultMap">
		SELECT POST_NO FROM COMMUNITY_POST
		WHERE POST_TITLE = #{postTitle} AND
		POST_CONTENTS = #{postContents}
	</select>
	<select id="replyList" resultMap="replyResultMap">
		SELECT * FROM COMMUNITY_REPLY
		WHERE POST_NO = #{postNo}
	</select>
	<select id="selectHeart" resultType="int">
		SELECT COUNT(MEMBER_ID) FROM
		HEART WHERE POST_NO = #{postNo} AND MEMBER_ID =
		#{userId}
	</select>
	<select id="doubleReport" resultMap="rReportResultMap">
		SELECT * FROM COMMUNITY_REPLY_REPORT WHERE MEMBER_ID = #{userId} AND
		REPLY_ALLNO = #{replyAllNo}
	</select>

	<select id="selectPostReport" resultMap="pReportResultMap">
		SELECT * FROM COMMUNITY_POST_REPORT WHERE POST_NO = #{postNo} AND WRTIER_NICKNAME = #{writerNickName}
	</select>

	<select id="selectMainImg"  resultMap="MaintResultMap">
		SELECT * FROM COMMUNITY_MAIN WHERE GROUP_NAME = #{groupName}
	</select>

	<select id="selectMyPost" resultMap="postResultMap">
		SELECT * FROM COMMUNITY_POST WHERE MEMBER_ID = #{userId} AND STATUS = 'Y'
	</select>
	
	<select id="myPageListCount" resultType="_int">
		SELECT COUNT(*) FROM
		COMMUNITY_POST WHERE STATUS = 'Y'AND MEMBER_ID =#{userId}
	</select>
	
	<insert id="uploadFile" parameterType="File">
		INSERT INTO COMMUNITY_FILE
		VALUES(SEQ_FILE.NEXTVAL,#{userId},#{fileName},#{fileRename},#{fileSize},DEFAULT,#{postNo})
	</insert>
	<insert id="insertPost" parameterType="Post">
		INSERT INTO COMMUNITY_POST
		VALUES(SEQ_POST.NEXTVAL,#{groupName},#{userId},#{userNickName},#{postTitle},#{postContents},0,DEFAULT,DEFAULT,DEFAULT,DEFAULT)
	</insert>
	<insert id="reUpload" parameterType="File">
		INSERT INTO COMMUNITY_FILE
		VALUES(SEQ_FILE.NEXTVAL,#{userId},#{fileName},#{fileRename},#{fileSize},DEFAULT,#{postNo})
	</insert>
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO
		COMMUNITY_REPLY VALUES(SEQ_REPLY_ALLNO.NEXTVAL, #{replyContents
		},DEFAULT,0,0,#{postNo}, #{userId},#{userNickName})
	</insert>
	<insert id="addReadCount" parameterType="Post">
		UPDATE COMMUNITY_POST
		set VIEWS_COUNT = VIEWS_COUNT + 1 WHERE POST_NO = #{postNo}
	</insert>
	<insert id="insertLike" parameterType="Heart">
		INSERT INTO HEART VALUES
		(SEQ_HEART.NEXTVAL,#{userId},#{postNo})
	</insert>
	<insert id="insertHeart" parameterType="Post">
		UPDATE COMMUNITY_POST
		SET
		HEART_COUNT = HEART_COUNT + 1 WHERE POST_NO = #{postNo}
	</insert>

	<insert id="insertReplyReport" parameterType="rReport">
		INSERT INTO COMMUNITY_REPLY_REPORT
		VALUES(SEQ_REPORT.NEXTVAL,#{userId},#{replyAllNo},DEFAULT,#{replyContents},#{postNo},#{userNickName})
	</insert>

	<insert id="insertPostReport" parameterType="pReport">
		INSERT INTO COMMUNITY_POST_REPORT
		VALUES(SEQ_POST_REPORT.NEXTVAL,#{postNo},#{postTitle},#{userNickName},#{writerNickName})
	</insert>

	<insert id="insertMainImg" parameterType="Main">
		INSERT INTO COMMUNITY_MAIN
		VALUES(#{groupName},#{mainImgName})
	</insert>

	<delete id="deletePost" parameterType="_int">
		DELETE FROM COMMUNITY_POST
		WHERE POST_NO = #{postNo}
	</delete>
	<delete id="deleteFile" parameterType="_int">
		DELETE FROM COMMUNITY_FILE
		WHERE POST_NO = #{postNo}
	</delete>

	<delete id="deleteFileName" parameterType="string">
		DELETE FROM COMMUNITY_FILE WHERE FILE_RENAME IN
		<foreach collection="list" item="fileName" open="(" close=")"
			separator=",">
			#{fileName}
		</foreach>
	</delete>

	<delete id="deleteReply" parameterType="Reply">
		DELETE FROM
		COMMUNITY_REPLY WHERE REPLY_ALLNO = #{replyAllNo}
	</delete>

	<update id="updatePost" parameterType="Post">
		UPDATE COMMUNITY_POST SET
		POST_TITLE = #{postTitle},POST_CONTENTS =
		#{postContents},UPDATE_DATE =
		DEFAULT WHERE POST_NO = #{postNo}
	</update>

	<update id="updateReply" parameterType="Reply">
		UPDATE COMMUNITY_REPLY
		SET REPLY_CONTENTS = #{replyContents},REPLY_DATE = DEFAULT WHERE
		REPLY_ALLNO = #{replyAllNo}
	</update>
	<delete id="deleteHeart" parameterType="Heart">
		DELETE FROM HEART
		WHERE
		POST_NO = #{postNo} AND MEMBER_ID = #{userId}
	</delete>
	<delete id="deleteHeartCount" parameterType="Post">
		UPDATE
		COMMUNITY_POST
		SET HEART_COUNT = HEART_COUNT - 1 WHERE POST_NO =
		#{postNo}
	</delete>
		<delete id="deleteMainImg" parameterType="Main">
		DELETE FROM COMMUNITY_MAIN WHERE GROUP_NAME = #{groupName}
	</delete>
	
</mapper>
  