<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idolMapper">

	<resultMap type="Idol" id="idolResultMap">
		<id property="idolNo" column="IDOL_NO"/>
		<result property="idolName" column="IDOL_NAME"/>
		<result property="groupName" column="GROUP_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
	</resultMap>

	<insert id="insertIdolmember" parameterType="Idol">
		INSERT INTO IDOL VALUES(SEQ_IDOLNUM.NEXTVAL, #{idolName}, #{groupName}, #{filePath})
	</insert>
	
	<select id="selectOneIdol" parameterType="_int" resultMap="idolResultMap">
		SELECT * FROM IDOL WHERE IDOL_NO = #{idolNo }
	</select>
	
	<select id="selectSearchList" resultMap="idolResultMap">
		SELECT * FROM IDOL WHERE IDOL_NAME LIKE '%' || #{searchValue} || '%'
	</select>
	
	<select id="selectGroupList" resultMap="idolResultMap">
		SELECT * FROM IDOL WHERE GROUP_NAME LIKE '%' || #{groupName} || '%'
	</select>
	
	<update id="updateIdolmember" parameterType="Idol">
		UPDATE IDOL SET IDOL_NAME = #{idolName }, GROUP_NAME = #{groupName }, FILE_PATH = #{filePath } WHERE IDOL_NO = #{idolNo}
	</update>

	<delete id="deleteIdolmember" parameterType="_int">
		DELETE FROM IDOL WHERE IDOL_NO = #{idolNo}
	</delete>






</mapper>