<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="SupportingMapper">
  		<resultMap type="Supporting" id="supportingResultMap">
			<id property="supNo" column="SUP_NO"></id>
			<result property="userNo" column="USER_NO"></result>
			<result property="supCategory" column="SUP_CATEGORY"></result>
			<result property="supTitle" column="SUP_TITLE"></result>
			<result property="supContents" column="SUP_CONTENTS"></result>
			<result property="scheduleDate" column="SCHEDULE_DATE"></result>
			<result property="supPlace" column="SUP_PLACE"></result>
			<result property="groupName" column="GROUP_NAME"></result>
			<result property="supStartDate" column="SUP_STARTDATE"></result>
			<result property="supEndDate" column="SUP_ENDDATE"></result>
			<result property="goalMoney" column="GOAL_MONEY"></result>
			<result property="sumMoney" column="SUM_MONEY"></result>
			<result property="supPartiwon" column="SUP_PARTIWON"></result>
			<result property="supGrade" column="SUP_CODE"></result>
			<result property="imgName" column="IMG_NAME"></result>
			<result property="imgReName" column="IMG_RENAME"></result>
			<result property="imgPath" column="IMG_PATH"></result>
		</resultMap>
		<!-- 첨부파일 -->
		<resultMap type="SupFile" id="fileResultMap">
			<id property="fileNo" column="SUP_FILENO"></id>
			<result property="supNo" column="SUP_NO"></result>
			<result property="fileName" column="SUP_FILENAME"></result>
			<result property="filePath" column="SUP_FILEPATH"></result>
			<result property="fileReName" column="SUP_FILERENAME"></result>
		</resultMap>
		<!-- 전체  모집중 서포팅 수 -->
		<select id="selectPreSupListCount" resultType="_int">
			SELECT COUNT(*) FROM SUPPORTING WHERE SUP_CATEGORY = 1
		</select>
		<!-- 전체  진행중 서포팅 수 -->
		<select id="selectSupListCount" resultType="_int">
			SELECT COUNT(*) FROM SUPPORTING WHERE SUP_CATEGORY = 2
		</select>
		<!-- 모집중서포팅  목록 -->
		<select id="selectAllPreSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE SUP_CATEGORY = 1 ORDER BY SUP_ENDDATE DESC
		</select>
		<!-- 진행중서포팅  목록 -->
	  	<select id="selectAllSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE SUP_CATEGORY = 2 ORDER BY SUP_ENDDATE DESC
		</select>
		<!-- 파일보기 -->
		<select id="selectFileList" resultMap="fileResultMap">
			SELECT * FROM SUPPORTING_FILE WHERE SUP_NO = #{supNo}
		</select>
		<!-- 모집중 서포팅 검색 -->
		<select id="searchPreSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE SUP_CATEGORY = 1 AND GROUP_NAME LIKE '%' || #{searchValue } || '%'
		</select>
		<!-- 진행중 서포팅 검색 -->
		<select id="searchSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE SUP_CATEGORY = 2 AND GROUP_NAME LIKE '%' || #{searchValue } || '%'
		</select>
		<!-- 모집중 서포팅 상세 -->
		<select id="selectOneSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE SUP_NO = #{supNo} AND SUP_CATEGORY = 1
		</select>
		<!-- 진행중 서포팅 상세 -->
		<select id="selectOnePreSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE SUP_NO = #{supNo} AND SUP_CATEGORY = 2
		</select>
		<!-- 서포팅 이동관련 20명이상 select -->
		<!-- 
		<select id="selectCategory"  resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE
		</select>
		-->
		<!-- 서포팅 작성 --> 
		<insert id="insertSupporting" parameterType="Supporting">
		 	INSERT INTO SUPPORTING VALUES(SEQ_SUP_NO.NEXTVAL, #{userNo} , DEFAULT, #{supTitle}, #{supContents}, #{scheduleDate}, #{supPlace }, #{groupName } , #{supStartDate }, #{supEndDate }, #{goalMoney}, 1, DEFAULT, DEFAULT, #{imgName}, #{imgReName}, #{imgPath})
		</insert>
		<!-- 파일 삽입 -->
		<insert id="insertFile" parameterType="SupFile">
			INSERT INTO SUPPORTING_FILE VALUES(SEQ_SUP_FILENO.NEXTVAL, SEQ_SUP_NO.CURRVAL, #{fileName }, #{filePath}, #{fileReName})
		</insert>
		<!-- 서포팅수정 -->
		<update id="updateSupporting" parameterType="Supporting">
			UPDATE SUPPORTING SET SUP_TITLE = #{supTitle}, SUP_CONTENTS = #{supContents}, SCHEDULE_DATE = #{scheduleDate}, SUP_PLACE = #{supPlace }, SUP_STARTDATE = #{supStartDate }, SUP_ENDDATE = #{supEndDate}, GOAL_MONEY = #{goalMoney}, IMG_NAME = #{imgName},IMG_RENAME = #{imgReName }, IMG_PATH = #{imgPath} WHERE SUP_NO = #{supNo}
		</update>
		<!-- 파일 수정 -->
	   	<insert id="updateFile" parameterType="SupFile">
			INSERT INTO SUPPORTING_FILE VALUES(SEQ_SUP_FILENO.NEXTVAL, #{supNo}, #{fileName }, #{filePath}, #{fileReName})
		</insert>
		<!-- 서포팅 참여인원 +1  -->
		<update id="updateAddPartiwon" parameterType="_int">
			UPDATE SUPPORTING SET SUP_PARTIWON = SUP_PARTIWON + 1 WHERE SUP_NO = #{supNo}
		</update>
		<!-- 서포팅 참여인원 -1  -->
		<update id="updateDelPartiwon" parameterType="_int">
			UPDATE SUPPORTING SET SUP_PARTIWON = SUP_PARTIWON - 1 WHERE SUP_NO = #{supNo}
		</update>
		<!-- 서포팅 카테고리 변경-->
		<update id="checkPartiwon" parameterType="Supporting">
			UPDATE SUPPORTING SET SUP_CATEGORY = 2 WHERE SUP_NO = (SELECT SUP_NO FROM SUPPORTING WHERE SUP_PARTIWON >= 20 AND SUP_NO = #{supNo}) 
		</update>
		<!-- 서포팅 삭제 -->
		<delete id="deleteSupporting" parameterType="_int">
			DELETE FROM SUPPORTING WHERE SUP_NO = #{supNo}
		</delete>
		<!-- 파일삭제 -->
 		<delete id="deleteFile" parameterType="_int">
			DELETE FROM SUPPORTING_FILE WHERE SUP_NO = #{supNo}		
		</delete>
		<!-- 진행중 댓글 -->
		<resultMap type="SupReply" id="supReplyResultMap">
			<id property="supReAllNo" column="SUP_REPLY_ALLNO"></id>
			<result property="supNo" column="SUP_NO"></result>
			<result property="supReChild" column="SUP_REPLY_CHILD"></result>
			<result property="supReNo" column="SUP_REPLY_NO"></result>
			<result property="supReWriter" column="SUP_REPLY_WRITER"></result>
			<result property="supReContents" column="SUP_REPLY_COMENTS"></result>
			<result property="supReDate" column="SUP_REPLY_DATE"></result>
		</resultMap>
		<!-- 댓글전체리스트 -->
		<select id="replyAll" resultMap="supReplyResultMap">
			SELECT * FROM SUPPORTING_REPLY WHERE SUP_NO = #{supNo}
		</select>
		<!-- 
		<select id="">
			SELECT SUP_REPLY_WRITER FROM SUPPORTING_REPLY WHERE SUP_NO = #{supNo} AND SUP_REPLY_ALLNO = #{supReAllNo}
		</select>
		-->
		<!-- 댓글 등록 -->
		<insert id="insertReply" parameterType="SupReply">
			INSERT INTO SUPPORTING_REPLY VALUES (SEQ_REPLY_ALLNO.NEXTVAL, #{supNo}, DEFAULT ,null, #{supReWriter }, #{supReContents}, SYSDATE )
		</insert> 
		<!-- 댓글 수정 -->
		<update id="updateReply" parameterType="SupReply">		
			UPDATE SUPPORTING_REPLY SET SUP_REPLY_COMENTS = #{supReContents}, SUP_REPLY_DATE = SYSDATE WHERE SUP_REPLY_ALLNO = #{supReAllNo}
		</update>
		<!-- 댓글 삭제 -->
		<delete id="deleteReply" parameterType="SupReply">
			DELETE FROM SUPPORTING_REPLY WHERE SUP_REPLY_ALLNO = #{supReAllNo}
		</delete>
		<!-- 신고부분  -->
		<resultMap type="supReportReply" id="supReport">
			<id property="reportNo" column="REPORT_NO"></id>
			<result property="supReAllNo" column="SUP_REPLY_ALLNO"></result>
			<result property="supNo" column="SUP_NO"></result>
			<result property="userNo" column="USER_NO"></result>
		</resultMap>
		<insert id="insertReportSupRe" parameterType="supReportReply">
			INSERT INTO SUPPORTING_REPLY_REPORT VALUES(SEQ_REPORT_NO.NEXTVAL, #{supReAllNo}, #{supNo}, #{userNo})
		</insert>
		<resultMap type="PaymentHistory" id="paymentResultMap">
			<id property="payNo" column="PAY_NO"></id>
			<result property="supNo" column="SUP_NO"></result>
			<result property="supTitle" column="SUP_TITLE"></result>
			<result property="supAmount" column="SUP_AMOUNT"></result>
			<result property="userName" column="USER_NAME"></result>
			<result property="userNickName" column="USER_NICKNAME"></result>
			<result property="userPhone" column="USER_PHONE"></result>
			<result property="userEmail" column="USER_EMAIL"></result>
			<result property="paymentDate" column="PAYMENT_DATE"></result>
		</resultMap>
		<insert id="insertHistory"	parameterType="paymentHistory">
			INSERT INTO PAYMENT_HISTORY VALUES(SEQ_PAY_NO.NEXTVAL,#{supNo},#{supTitle}, #{supAmount}, #{userName}, #{userNickName}, #{userPhone}, #{userEmail}, SYSDATE)
		</insert>
		
		<resultMap type="supParticipation" id="SupParticipation">
			<id property="pNo" column="PARTIWON_NO"></id>
			<result property="userNo" column="USER_NO"></result>
			<result property="supNo" column="SUP_NO"></result>
		</resultMap>
		<select id="selectParticipation" resultMap="SupParticipation">
			SELECT * FROM PRESUPPORTING_PARTICIPATION WHERE USER_NO = #{userNo} AND SUP_NO = #{supNo}
		</select>
		<insert id="insertPartiwon" parameterType="SupParticipation">
			INSERT INTO PRESUPPORTING_PARTICIPATION VALUES(SEQ_PARTIWON_NO.NEXTVAL, #{userNo}, #{supNo})
		</insert>
		<delete id="deleteParticipation"  parameterType="SupParticipation">
			DELETE FROM PRESUPPORTING_PARTICIPATION WHERE SUP_NO = #{supNo} AND USER_NO = #{userNo}
		</delete>
</mapper>
	