<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="SupportingMapper">
  		<resultMap type="Supporting" id="supportingResultMap">
			<id property="supNo" column="SUP_NO"></id>
			<result property="userNo" column="USER_NO"></result>
			<result property="supCategory" column="SUP_CATEGORY"></result>
			<result property="supTitle" column="SUP_TITLE"></result>
			<result property="supContents" column="SUP_CONTENTS"></result>
			<result property="scheduleDate" column="SCHEDULE_DATE"></result>
			<result property="supPlace" column="SUP_PLACE"></result>
			<result property="groupName" column="GROUP_NAME"></result>
			<result property="supStartDate" column="SUP_STARTDATE"></result>
			<result property="supEndDate" column="SUP_ENDDATE"></result>
			<result property="goalMoney" column="GOAL_MONEY"></result>
			<result property="sumMoney" column="SUM_MONEY"></result>
			<result property="supPartiwon" column="SUP_PARTIWON"></result>
			<result property="supGrade" column="SUP_CODE"></result>
			<result property="imgNo" column="IMG_NO"></result>
			<result property="imgName" column="IMG_NAME"></result>
			<result property="imgPath" column="IMG_PATH"></result>
			<result property="imgSize" column="IMG_SIZE"></result>
		</resultMap>
	  	<select id="selectAllSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE SUP_CATEGORY = 2 ORDER BY SUP_ENDDATE DESC
		</select>
		<select id="selectAllPreSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE SUP_CATEGORY = 1 ORDER BY SUP_ENDDATE DESC
		</select>
		<select id="searchPreSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE SUP_CATEGORY = 2 AND GROUP_NAME LIKE '%' || #{searchValue } || '%'
		</select>
		<select id="searchSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORTING WHERE SUP_CATEGORY = 1 AND GROUP_NAME LIKE '%' || #{searchValue } || '%'
		</select>
		<!-- 
		<select id="selectOneSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORITNG WHERE SUP_NO = #{supNo} AND SUP_CATEGORY = 2
		</select>
		<select id="selectOnePreSupporting" resultMap="supportingResultMap">
			SELECT * FROM SUPPORITNG WHERE SUP_NO = #{supNo} AND SUP_CATEGORY = 1
		</select>
		-->
		<insert id="insertSupporting" parameterType="Supporting">
			INSERT INTO SUPPORTING VALUES (SEQ_SUP_NO.NEXTVAL,{userNo}, DEFAULT, #{supTitle}, #{supContents}, #{scheduleDate}, #{supPlace }, #{groupName } , #{supStartDate }, #{supEndDate}, #{goalMoney}, 0, DEFAULT, DEFAULT, 0, #{imgName}, #{imgPath}, #{imgSize})
		</insert>
<!-- 
		<update id="updateSupporting" parameterType="Supporting">
			UPDATE SUPPORTING SET SUP_TITLE = #{supTitle}, SUP_CONTENTS = #{supContents}, SCHEDULE_DATE = #{scheduleDate}, SUP_PLACE = #{supPlace }, SUP_STARTDATE = #{supStartDate }, SUP_ENDDATE = #{supEndDate}, GOAL_MONEY = #{goalMoney}, IMG_NAME = #{imgName}, IMG_PATH = #{imgPath}, IMG_SIZE = #{imgSize} WHERE SUP_NO = #{supNo}
		</update>
		<delete id="deleteSupporting" parameterType="_int">
			DELETE FROM SUPPORTING WHERE SUP_NO = #{supNo}
		</delete>
-->		
		<!-- 첨부파일 -->
		<resultMap type="SupFile" id="fileResultMap">
			<id property="fileNo" column="SUP_FILENO"></id>
			<result property="supNo" column="SUP_NO"></result>
			<result property="fileName" column="SUP_FILENAME"></result>
			<result property="fileSize" column="SUP_FILESIZE"></result>
			<result property="filePath" column="SUP_FILEPATH"></result>
			<result property="fileReName" column="SUP_FILERENAME"></result>
		</resultMap>
		<!-- 파일보기 -->
		<!-- 파일 삽입 -->
		<insert id="insertFile">
			INSERT INTO SUPPORTING_FILE VALUES(SEQ_FILENO.NEXTVAL, #{supNo}, #{fileName }, #{fileSize } , #{filePath}, #{fileReName})
		</insert>
		<!-- 진행중 댓글 -->
		<resultMap type="SupReply" id="replyResultMap">
			<id property="supReAllNo" column="SUP_REPLY_ALLNO"></id>
			<result property="supNo" column="SUP_NO"></result>
			<result property="supReChild" column="SUP_REPLY_CHILD"></result>
			<result property="supReNo" column="SUP_REPLY_NO"></result>
			<result property="supReWriter" column="SUP_REPLY_WRITER"></result>
			<result property="supReContents" column="SUP_REPLY_COMENTS"></result>
			<result property="supReDate" column="SUP_REPLY_DATE"></result>
		</resultMap>
	<!-- 
		<select id="replyAll" resultType="replyResultMap">
			SELECT * FROM SUPPORTING_REPLY WHERE SUP_NO = #{supNo}
		</select>
		<insert id="insertSupReply"	parameterType="SupReply">
			INSERT INTO SUPPORTING_REPLY VALUES (SEQ_REPLY_ALLNO.NEXTVAL, #{supNo}, ? ,#{supReplyNo}, #{userNickName}, #{supReContents}, SYSDATE )
		</insert> 
		<update id="updateSupReply" parameterType="SupReply">		
			UPDATE SUPPORTING_REPLY SET SUP_REPLY_COMENTS = #{supReContents}, SUP_REPLY_DATE = SYSDATE WHERE REPLY_ALLNO = #{supReAllNo}
		</update>
		<delete id="deleteSupReply" parameterType="_int">
			DELETE FROM SUPPORTING_REPLY WHERE SUP_REPLY_ALLNO = #{supReAllNo}
		</delete>
	-->
</mapper>
	