/* .alert-main{
	position : relative;
    width: 450px;
    height: 300px;
    border: 1px solid black;
    margin-left : 35%;
    margin-top: 7%;
    margin-bottom: 10%;
} */
    .alert-line1{
        width: 100%;
        height: 5%;
        background-color: #fb5849da;
    }
    .alert-line2{
        width: 100%;
        height: 5%;
        margin-top: 60%;
        background-color: #fb5849da;
    }
    .alert-logo1{
        width: 100%;
        height: 90%;
    }
        .alert-logo1 img{
            position: relative;
            top: 8%;
            left: -27%;
            width: 200px;
            opacity: 0.6;
            filter: alpha(opacity=60);
        }
    .alert-text1{
        position: absolute;
        top: 35%;
        left: 20%;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        color: black;
    }
    .alert-btn1{
        width: 70%;
        position: absolute;
        top: 65%;
        left: 18%;
    }
        .alert-btn1 button{
            width: 100px;
            height: 30px;
            margin-left: 10%;
            font-size: 15px;
            font-weight: bold;
            border-radius: 5px;
            border: 1px solid gray;
            cursor: pointer;
            box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.658);
        }
            .alert-btn1 :nth-child(2){
                background-color: cadetblue;
                
            }
            
            #cart-ok{
            	color: black;
            	margin-left: 38%;
            }
            #cart-no{
            	color: black;
            	margin-left: 20%;
            }
            


            #modal-wrap1{
                display: none;
                background-color: white;
                z-index: 5;
                top:15%;
                left: -45%;
                position : absolute;
                width: 450px;
                height: 300px;
                margin-left : 5%;
                border : 1px solid black;
                box-shadow: 5px 5px 5px 3px gray;
                
            }
            
            #black-bg1{
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
                top: 0;
                left: 0;
                z-index: 4;
            }